<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Webapp25</display-name>
  <servlet>
    <servlet-name>welcome</servlet-name>
    <servlet-class>ai.jobiak.webapp.welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/begin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FactorialServlet</servlet-name>
    <servlet-class>ai.jobiak.webapp.FactorialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FactorialServlet</servlet-name>
    <url-pattern>/fact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JdbcServlet</servlet-name>
    <servlet-class>ai.jobiak.webapp.JdbcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcServlet</servlet-name>
    <url-pattern>/run</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jdbcworldlanguages</servlet-name>
    <servlet-class>ai.jobiak.webapp.Jdbcworldlanguages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jdbcworldlanguages</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lifeCycle</servlet-name>
    <servlet-class>ai.jobiak.webapp.LifeCycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lifeCycle</servlet-name>
    <url-pattern>/go</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>link.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>ai.jobiak.webapp.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>