<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TaskServlet</display-name>
  <servlet>
    <servlet-name>factorialservlet</servlet-name>
    <servlet-class>ai.jobiak.http.factorialservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>factorialservlet</servlet-name>
    <url-pattern>/factorial</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Factorial</servlet-name>
    <servlet-class>ai.jobiak.http.Factorial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Factorial</servlet-name>
    <url-pattern>/factfound</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginpage</servlet-name>
    <servlet-class>ai.jobiak.http.loginpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginpage</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calculator</display-name>
    <servlet-name>calculator</servlet-name>
    <servlet-class>ai.jobiak.http.calculator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculator</servlet-name>
    <url-pattern>/calculator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>firstservlet</display-name>
    <servlet-name>firstservlet</servlet-name>
    <servlet-class>ai.jobiak.http.firstservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstservlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Palindrome</display-name>
    <servlet-name>Palindrome</servlet-name>
    <servlet-class>ai.jobiak.http.Palindrome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Palindrome</servlet-name>
    <url-pattern>/palindrome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>amstrong</display-name>
    <servlet-name>amstrong</servlet-name>
    <servlet-class>ai.jobiak.http.amstrong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>amstrong</servlet-name>
    <url-pattern>/amstrong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>evenodd</display-name>
    <servlet-name>evenodd</servlet-name>
    <servlet-class>ai.jobiak.http.evenodd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>evenodd</servlet-name>
    <url-pattern>/evenodd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>primenumber</display-name>
    <servlet-name>primenumber</servlet-name>
    <servlet-class>ai.jobiak.http.primenumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>primenumber</servlet-name>
    <url-pattern>/prime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeservlet</display-name>
    <servlet-name>employeeservlet</servlet-name>
    <servlet-class>ai.jobiak.display.employeeservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeservlet</servlet-name>
    <url-pattern>/emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>votecheck</display-name>
    <servlet-name>votecheck</servlet-name>
    <servlet-class>ai.jobiak.http.votecheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>votecheck</servlet-name>
    <url-pattern>/vote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DummyServlet</display-name>
    <servlet-name>DummyServlet</servlet-name>
    <servlet-class>ai.jobiak.servlets.DummyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DummyServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>processServlet</display-name>
    <servlet-name>processServlet</servlet-name>
    <servlet-class>ai.jobiak.servlets.processServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>processServlet</servlet-name>
    <url-pattern>/HTMLServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBServlet</display-name>
    <servlet-name>DBServlet</servlet-name>
    <servlet-class>ai.jobiak.servlets.DBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBServlet</servlet-name>
    <url-pattern>/QueryServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servletconfig</display-name>
    <servlet-name>Servletconfig</servlet-name>
    <servlet-class>ai.jobiak.display.Servletconfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletconfig</servlet-name>
    <url-pattern>/servconfig</url-pattern>
  </servlet-mapping>
</web-app>