<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Archetype Created Web Application</display-name>
  <absolute-ordering/>
  <servlet>
    <servlet-name>dad-frontcontroller</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dad-frontcontroller</servlet-name>
    <url-pattern>/home.com/*</url-pattern>
  </servlet-mapping>
</web-app>